footer {
  background-image: url("../images/footer.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  .mylogo {
    img {
      width: 100px;
      display: block;
      margin: 0 auto;
    }
  }
}

// #me {
//   background: url(http://klajdizmalaj.com/img/walk.jpg);
//   width: 120px;
//   height: 180px;
//   animation: walk-east 1s steps(8) infinite;
// }
// @keyframes walk-east {
//   from {
//     background-position: 0px;
//   }
//   to {
//     background-position: -960px;
//   }
// }
