//fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
//font-family: 'Source Sans Pro', sans-serif;
//vars
$main: #e63e45;
$accent: #fbf6a7;
$font: "Lato", sans-serif;
body ::selection {
  background: $main;
  color: $accent;
}
body::-webkit-scrollbar {
  width: 6px;
}
.kz7Loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}
body::-webkit-scrollbar-track {
  background: #ccc;
}
.scrollRemove {
  overflow-y: hidden !important;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(126, 126, 126);
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom: 0;
  border-radius: 5px;
}
body {
  overflow-x: hidden;
}
* {
  font-family: $font;
}
@import "header";
@import "home";
@import "work";
@import "footer";
@import "media";
@import "newTheme";

.createPP {
  display: flex;
  position: fixed;
  background-color: #fff;
  color: #222;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  padding: 20px;
  display: flex;
  flex-flow: column;
  > div:nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    span,
    input {
      width: 50%;
    }
    button {
      width: 100%;
    }
  }
}
